<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE web-app PUBLIC "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN" "http://java.sun.com/dtd/web-app_2_3.dtd">

<web-app>
    <servlet>
        <servlet-name>db</servlet-name>
        <servlet-class>DBServlet</servlet-class>
	<init-param>
	    <param-name>dname</param-name>
	    <param-value>sun.jdbc.odbc.JdbcOdbcDriver</param-value>
	</init-param>
	<init-param>
	    <param-name>dburl</param-name>
	    <param-value>jdbc:odbc:oradsn</param-value>
	</init-param>

    </servlet>
	<servlet-mapping>
        <servlet-name>db</servlet-name>
        <url-pattern>/dburl</url-pattern>
    </servlet-mapping>
</web-app>